@keyframes blurEffect {
    from {
        filter: blur(4px);
        -webkit-filter:blur(4px);
}
    to {
        filter: blur(0);
        -webkit-filter: blur(0);
    }
}

@keyframes skewEffect {
    from {
        transform: skew(-0.06turn, 18deg);
        -webkit-transform: skew(-0.06turn, 18deg);
        -moz-transform: skew(-0.06turn, 18deg);
        -ms-transform: skew(-0.06turn, 18deg);
        -o-transform: skew(-0.06turn, 18deg);
}

    to {
        -webkit-filter: blur(0);
        transform: skew(0);
    }
}

.blurEffect {
    animation: blurEffect .5s ease-in-out;
    -webkit-animation: blurEffect .5s ease-in-out;
}

.skewEffect {
    animation: skewEffect .5s ease-in-out;
    -webkit-animation: skewEffect .5s ease-in-out;
}

