/* Default chevron corners */
svg[class*="chevron"] {
    position: absolute;
    width: 1.5rem;
    fill: var(--principal-color);
}

.chevron-top-left {
    top: -1rem;
    left: -1rem;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
}

.chevron-bottom-right {
    bottom: -1rem;
    right: -1rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.chevron-top-right {
    top: -1rem;
    right: -1rem;
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
}

.chevron-bottom-left {
    bottom: -1rem;
    left: -1rem;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

/* Header */
.header .chevron-top-left {
    left: 15px;
    top: -12px;
}

.header .chevron-bottom-right {
    right: 15px;
    bottom: -5px;
}


@media (min-width: 576px) {
    .header .chevron-top-left {
        left: 1rem;
        top: -.5rem;
    }

    .header .chevron-bottom-right {
        right: 1rem;
        bottom: -.5rem;
    }
}

/* Main Home */
.main .home svg {
    width: 4rem;
}

.main .home .chevron-top-left {
    left: 0;
    top: -1.5rem;
}

.main .home .chevron-bottom-right {
    right: 0;
    bottom: -1.5rem;
}


/* Main About */

.main .about svg {
    width: 3rem;
}

.main .about .chevron-top-left {
    left: -.5rem;
    top: -1.5rem;
}

.main .about .chevron-bottom-right {
    right: -.5rem;
    bottom: -1.5rem;
}

/* Main Portfolio */
.main .portfolio svg,
.main .certificates svg {
    width: 2.5rem;
}

.main .portfolio .chevron-top-left,
.main .certificates .chevron-top-left {
    top: -1.2rem;
    left: -1rem;
}

.main .portfolio .chevron-bottom-right,
.main .certificates .chevron-bottom-right {
    right: -1rem;
    bottom: -1.2rem;
}

.main .portfolio .chevron-bottom-left,
.main .certificates .chevron-bottom-left {
    left: -1rem;
    bottom: -1.2rem;
}

.main .portfolio .chevron-top-right,
.main .certificates .chevron-top-right {
    top: -1.2rem;
    right: -1rem;
}

/* Main services */
.main .services svg {
    width: 2.5rem;
}

.main .services .chevron-top-right {
    right: -.5rem;
    top: -1rem;
}

.main .services .chevron-bottom-left {
    left: -.5rem;
    bottom: -1rem;
}

/* Main contact */

.main .contact svg {
    width: 2rem;
}

.main .contact:has(.chevron-top-left, .chevron-top-right) {
    top: -1.5rem;
}

.main .contact .chevron-top-left {
    left: -1rem;
}

.main .contact .chevron-top-right {
    right: -1rem;
}

.main .contact:has(.chevron-bottom-right, .chevron-bottom-left) {
    bottom: -1.5rem;
}

.main .contact .chevron-bottom-left {
    left: -1rem;
}

.main .contact .chevron-bottom-right {
    right: -1rem;
}

/* share buttons */

.share-buttons .chevron-top-left {
    top: -.8rem;
    left: -.4rem;
}

.share-buttons .chevron-bottom-right {
    bottom: -.8rem;
    right: -.4rem;
}