.colorPicker {
    bottom: -125px;
    transition: bottom .2s;
    -webkit-transition: bottom .2s;
    -moz-transition: bottom .2s;
    -ms-transition: bottom .2s;
    -o-transition: bottom .2s;
    width: 205px;
}
.colorPicker:hover {
    bottom: -80px;
}

@media (min-width: 576px) { 
     .colorPicker {
        margin-left: 130px;
     }
 }

input[type='radio']:after{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -3px;
    left: 0;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid gray;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

input[value='darkorange']:after {
    background-color: darkorange;
}

input[value='dodgerblue']:after {
    background-color: dodgerblue;
}

input[value='mediumorchid']:after {
    background-color: mediumorchid;
}

input[value='gold']:after {
    background-color: gold;
}

input[value='deeppink']:after {
    background-color: deeppink;
}

input[type='radio']:checked:after {
    border: 3px solid white;
}