.colorPicker {
    opacity: .3;
}
.colorPicker:hover {
    opacity: 1;
}

@media (min-width: 576px) { 
     .colorPicker {
        margin-left: 130px;
     }
 }

input[type='radio']:after{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid gray;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

input[value='darkorange']:after {
    background-color: darkorange;
}

input[value='slateblue']:after {
    background-color: slateblue;
}

input[value='purple']:after {
    background-color: purple;
}

input[value='cadetblue']:after {
    background-color: cadetblue;
}

input[value='deeppink']:after {
    background-color: deeppink;
}

input[type='radio']:checked:after {
    border: 3px solid white;
}