.footer {
    width: 100%;
    box-shadow: 15px -15px 15px -15px var(--white);

    & a {
        color: var(--black);
        font-weight: 500;
    }

    & a:hover {
        filter: brightness(.8);
        -webkit-filter: brightness(.8);
    }

    & .d-none {
        display: none;
    }

    & img {
        width: 16px;
        height: 16px;
        filter: invert(1);
        -webkit-filter: invert(1);
    }

    & .leftOffset-100 {
        left: -100%;
    }
}

@media (min-width: 576px) {
    .footer {
        width: fit-content !important;
        margin-left: 1.25rem;
        box-shadow: none;
        left: 0 !important;

        & .d-none {
            display: block;
        }
    }
}