.footer {
    & svg {
        fill: var(--white);
        height: 1rem;
    }

    & a {
        color: var(--black);
        font-weight: 500;
    }

    & a:hover {
        filter: brightness(.8);
        -webkit-filter: brightness(.8);
    }

    & .d-none {
        display: none;
    }

    & .leftOffset-100 {
        left: -100%;
    }
}

@media (min-width: 576px) {
    .footer {

        & .d-none {
            display: block;
        }
    }
}