.header {
    grid-area: header;
}

.unselect-text {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 576px) {
    .hidden {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .header {
        position: fixed;
        z-index: 10;
        top: 0 !important;
        padding: 14px 0 !important;
        width: 100px;
        margin: 0 !important;
        font-size: 2rem;
        font-weight: bolder;
    }

    .header p {
        margin: 0;
    }

    .header .d-none {
        display: none;
    }
}