.header {
    grid-area: header;
    padding-bottom: 175px!important;
}

.unselect-text {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle-menu {
    all: unset;
    cursor: pointer;
}

.header:hover {
    opacity: 1;
}

@media (min-width: 576px) {
    .hidden {
        display: none !important;
    }
    .opacity-50 {
        opacity: 1!important;
    }
    .toggle-menu {
        display: none;
    }
    .header {
        position: relative!important;
        font-size: medium!important;
        top: 0!important;
        left: 0!important;
        height: initial!important;
    }
    .header__logo {
        bottom: 0!important;
        right: 0!important;
    }
}

@media (max-width: 575px) {
    .header {
        padding: 14px 0 !important;
        width: 100px;
    }

    .header p {
        margin: 0;
    }

    .header .d-none {
        display: none;
    }

}