.header {
    height: fit-content;
    &:hover {
        opacity: 1
    }

    & .toggle-menu svg {
        height: 2rem
    }
    .d-none {
        display: none;
    }
}

.unselect-text {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.toggle-menu {
    all: unset;
    cursor: pointer
}

@media (min-width: 576px) { 
    .header {
        height: 200px;
    }
    .header .d-none {
        display: initial;
     }
}