.bg-black {
    background-color: var(--black);
}

.bg-dark-gray {
    background-color: var(--darkGray);
}

.bg-principal-color {
    background-color: var(--principal-color);
}

.bg-white {
    background-color: var(--white);
}

/* Layouts */

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.align-center {
    align-items: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.place-center {
    place-items: center;
}

.align-end {
    align-items: end;
}

.align-self-end {
    align-self: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

/* Positions */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.topCenterAbsolute {
    top: 0;
    left: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}

.bottomCenterAbsolute {
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.centerAbsolute {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


.left-0 {
    left: 0;
}

.top-0 {
    top: 0;
}

.top-40off {
    top: -40px;
}
.left-40off {
    left: -40px;
}

.bottom-15off {
    bottom: -15px;
}
.right-15off {
    right: -15px;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.topOffset {
    top: 5px;
}

.leftOffset {
    left: 5px;
}

.bottomOffset {
    bottom: 5px;
}

.rightOffset {
    right: 5px;
}

.zindex-negative {
    z-index: -1;
}

.zindex-1 {
    z-index: 1;
}

.zindex-5 {
    z-index: 5;
}

.zindex-10 {
    z-index: 10;
}

.zindex-100 {
    z-index: 100;
}

.m-0-auto {
    margin: 0 auto;
}

.mt-0 {
    margin-top: 0;
}

.plr-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pt-0 {
    padding-top: 0;
}

/* margins and paddings */

.bz-border-box {
    box-sizing: border-box!important;
}

.gap-05 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.pl-10 {
    padding-left: 10rem;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.p-05 {
    padding: 0.5rem;
}

.pb-3 {
    padding-bottom: 3rem !important;
}

.w-fit-content {
    width: fit-content;
}

/* Measures */

.w-250px {
    width: 250px;
}
.h-250px {
    height: 250px;
}

.mw-400 {
    max-width: 400px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.w-20px {
    width: 20px;
}

.maxw-15 {
    max-width: 15%;
}

.w-75 {
    width: 75%;
}

.h-20px {
    height: 20px;
}

.w-50px {
    width: 50px;
}

.h-50px {
    height: 50px;
}
.h-92px {
    height: 92px;
}

.h-250 {
    height: 250px;
}

.opacity-50 {
    opacity: .5;
}

.min-h-100 {
    min-height: 100vh;
}


/* Style */

.border-radius-5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.border-radius-top-5 {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.principalColor {
    color: var(--principal-color);
}

.fs-2 {
    font-size: 2rem;
}

.fw-bolder {
    font-weight: bolder;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.object-fit-cover {
    object-fit: cover;
}
.object-pos-center-top {
    object-position: left top;
}

.drop-shadow {
    filter: drop-shadow(0 0 5px var(--white));
    -webkit-filter: drop-shadow(0 0 5px var(--white));
}

.box-shadow-right {
    box-shadow: 15px 0 15px -15px var(--white);
}
.box-shadow-bottom {
    box-shadow: 15px 15px 15px -15px var(--white);
    -webkit-box-shadow: 15px 15px 15px -15px var(--white);
    -moz-box-shadow: 15px 15px 15px -15px var(--white);
}

.blur-effect {
    filter: blur(4px) !important;
    -webkit-filter: blur(4px) !important;
}

.gradientTransparent {
    background: rgb(0, 0, 0);
    background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.gradientTransparentGray {
    background: rgb(0, 0, 0);
    background: linear-gradient(360deg, rgba(34, 34, 34, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.grayscale {
    filter: grayscale(100%);
}

.transition-all {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.transition-color {
    transition: color 1s;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
}

@media (max-width: 576px) {
    .blur {
        filter: blur(4px) !important;
        -webkit-filter: blur(4px) !important;
    }
}