.main {
    grid-area: main;
}

.section__button {
    all: unset;
    cursor: pointer;
    background-color: var(--principal-color);
    width: fit-content;
}

.section__button:hover {
    filter: brightness(.8);
    -webkit-filter: brightness(.8);
}