@media (min-width: 768px) {
    .main .certificates {
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    }
    .certificates img {
        object-position: 100%;
        height: 250px;
    }
}