.nav {
    background-color: var(--darkGray);

    & svg {
        height: 1rem
    }

    & a {
        color: var(--white);
        text-decoration: none;
        display: flex;
        gap: .5rem
    }

    & a:hover,
    .link-active {
        margin-bottom: -1px
    }

    & a:hover {
        filter: brightness(.8);
        -webkit-filter: brightness(.8);
        border-bottom: 1px solid rgb(70, 70, 70)
    }

    & .link-active {
        border-bottom: 1px solid rgb(94, 94, 94);
        color: var(--principal-color)
    }
}

@media (max-width:576px) {
    .nav {
        width: 100px;
        top: 83px !important;
        position: fixed;
        padding: 0 !important;

        & a {
            justify-content: end
        }

        & .hidden-icon {
            color: var(--darkGray)
        }

        & .d-none {
            display: none
        }
    }

    .show a {
        justify-content: center !important
    }
}