.titlePage {
    grid-area: title;
    font-size: clamp(14px, 3vw, 24px);
    margin-top: 4.2rem;
}

.titlePage h2 {
    width: 150px;
}

@media (min-width: 576px) {
    .titlePage {
        margin-top: 0!important;
    }
    .titlePage h2 {
        width: 220px;
    }
}