/** Social Button CSS **/
.share-button {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.1em 0.6em;
    outline: none;
    text-align: center;
    font-size: 0.9em;
    margin: 0 0.2em;
    text-decoration: none;
    & svg{
        fill: var(--white);
        height: 1rem;
    }
}

.share-button:focus,
.share-button:hover {
    text-decoration: none;
    opacity: 0.8;
}

.share-button:active {
    color: #e2e2e2;
}

.share-button.twitter {
    background: #55acee;
}

.share-button.facebook {
    background: #3B5998;
}

.share-button.linkedin {
    background: #4875B4;
}

.share-button.whatsapp {
    background: #57c800;
}
.closeButton {
    color: var(--white);
    border: none;
}