@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url("../montserrat/Montserrat-Regular.ttf"), url("../montserrat/Montserrat-Regular.ttf2")
}

:root {
  --black: #151515;
  --darkGray: #222222;
  --lighGray: #b1b1b1;
  --white: #f1f1f1;
  --principal-color: #ff5b02;
  --spacing-xs: .5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --transition-fast: .3s;
  --transition-normal: .5s;
  --transition-slow: 1s;
  --border-radius-sm: 5px;
  --border-radius-full: 50%
}

html {
  box-sizing: border-box
}

html,
body {
  overflow-x: hidden;
  transition: var(--transition-slow) all
}

*,
*::after,
*::before {
  box-sizing: inherit
}

body {
  font-family: "Montserrat", Helvetica, sans-serif;
  background-color: var(--black);
  color: var(--white);
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 110px 1fr;
  grid-template-areas: "title" "main";
  cursor: url("../img/cursor.cur") 4 12, auto
}

.opacityBody::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
  top: 0
}

.header {
  font-size: 2rem;

  & .chevron-top-left,
  .chevron-bottom-right {
    width: 2rem
  }

  & .chevron-top-left {
    left: 0;
    top: 0
  }

  & .chevron-bottom-right {
    right: 0;
    bottom: 0
  }
}

@media (min-width:576px) {
  .header {
    font-size: 1rem !important;

    & .chevron-bottom-right {
      bottom: -.5rem
    }

    & .chevron-top-left {
      top: -.5rem
    }
  }
}

.titlePage {
  display: grid;
  text-align: center;
  gap: .5rem;
  position: relative;
  place-items: center;
  grid-area: title;
  font-size: clamp(14px, 3vw, 24px);
  grid-template-columns: repeat(5, 1fr);

  & h2 {
    grid-column: 2/5;
    grid-row: 1;
    margin: 0
  }

  & .previous-page,
  & .next-page {
    grid-row: 2;
    padding: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px
  }

  & .previous-page {
    grid-column: 2
  }

  & .next-page {
    grid-column: 4
  }

  & .button-up,
  .button-down {
    width: 15px;
    height: 15px;
    padding: .75rem
  }

  & .button-up,
  .button-down,
  svg {
    fill: var(--black)
  }
}

@media (min-width:576px) {
  .titlePage {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    & h2 {
      width: 50%
    }

    & .button-up,
    .button-down {
      width: 25px;
      height: 25px;
      padding: 1rem
    }
  }
}

.main {
  padding: 1rem 1rem 3rem 1rem !important;
  position: relative;
  height: calc(100vh - 200px);
  overflow: auto;
  grid-area: main;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;

  & .section__title {
    height: 2rem
  }

  & .section__button {
    color: var(--black)
  }

  &:focus {
    outline: none
  }
}

#hideMenuDesktop {
  position: absolute !important;
  all: unset;
  top: 50px;
  left: 180px;
  color: var(--principal-color);
  font-size: 3rem;
  z-index: 100;
  display: none !important
}

#hideMenuDesktop:hover {
  filter: drop-shadow(0 0 5px white)
}

.home {
  overflow: hidden;
  display: grid;
  padding: 0 1rem;
  gap: .5rem;
  position: relative;
  justify-content: center;

  & .nameChange {
    color: var(--principal-color)
  }

  & svg {
    width: 8rem;
    stroke: var(--black)
  }

  & .chevron-page-left,
  .chevron-page-right {
    position: absolute;
    fill: var(--principal-color)
  }

  & .chevron-page-left {
    left: -1.5rem;
    top: 0;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg)
  }

  & .chevron-page-right {
    z-index: 10;
    bottom: -1rem;
    right: -1.5rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg)
  }

  & .section__box {
    max-width: 400px;
    position: relative;
    top: -40px;
    margin: auto;
    aspect-ratio: 3/4
  }

  & .section__title {
    align-self: flex-end;
    margin-top: 0;
    font-size: 1.3rem
  }

  & .section__subtitle {
    margin: 0;
    font-size: 2rem;
    font-size: clamp(32px, 4vw, 48px)
  }

  & span {
    color: var(--principal-color)
  }

  & .section__description {
    font-weight: 600;
    align-self: baseline;
    text-justify: justify;
    text-wrap: balance;
    color: var(--lighGray);

    & p:not(p:first-of-type) {
      color: var(--white)
    }
  }

  & .section__button {
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
    color: var(--black);
    font-weight: bolder;
    border-radius: 5px;
    margin: 0 auto !important
  }

  & .logos img {
    filter: invert(1);
    -webkit-filter: invert(1);
    width: 50px
  }

  & .section__box img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;
    filter: grayscale(100%) drop-shadow(0 0 15px var(--principal-color));
    -webkit-filter: grayscale(100%) drop-shadow(0 0 15px var(--principal-color));
    mask-image: linear-gradient(var(--black) 50%, transparent);
    aspect-ratio: 3 / 4;
    object-fit: cover
  }
}

@keyframes slide {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(-100%)
  }
}

.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(to left, transparent, var(--black), transparent)
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  list-style-type: none
}

.marquee__content img {
  width: 50px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0)
}

.marquee__content {
  animation: scroll 10s linear infinite;
  -webkit-animation: scroll 10s linear infinite
}

@keyframes scroll {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(calc(-100% - var(--gap)))
  }
}

.main .backgroundPage {
  z-index: -1;
  bottom: 0;
  right: 0;
  position: fixed;

  & svg {
    width: 12rem;
    fill: var(--darkGray);
    filter: drop-shadow(0 0 5px white) blur(8px);
    -webkit-filter: drop-shadow(0 0 5px white) blur(8px)
  }
}

.toggle-menu {
  & svg {
    cursor: pointer;
    width: 50px;
    height: 50px;
    fill: var(--principal-color)
  }
}

button:focus {
  border: 1px solid var(--white);
  margin: -1px
}

.section__button {
  all: unset;
  cursor: pointer;
  background-color: var(--principal-color);
  width: fit-content
}

.section__button:hover {
  filter: brightness(.8);
  -webkit-filter: brightness(.8)
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none
}

.options,
.info,
.sound,
.share,
.github-portfolio {
  width: 50px;
  height: 50px;
  border: 1px solid var(--black);
  background-color: var(--principal-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s
}

.options {
  position: fixed;
  z-index: 2;
  border: none;
  padding: 5px;
  bottom: 0;
  opacity: .8;

  &>div {
    display: none
  }
}

.options:hover {
  height: 270px;
  border-radius: 0;
  background-color: transparent
}

.options:hover>svg {
  display: none
}

.options:hover>div {
  display: block
}

.info,
.sound,
.share,
.github-portfolio {
  left: 0
}

.info {
  bottom: 220px;
  z-index: 10
}

.info::after {
  font-size: 2rem;
  content: "ℹ";
  width: inherit;
  height: inherit;
  color: #f1f1f1;
  position: absolute;
  top: 0;
  text-align: center
}

.info:hover::after {
  content: ""
}

.info:hover {
  text-shadow: 1px 1px 1px #000;
  opacity: 1;
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: var(--black);
  cursor: none
}

.info:hover .scrollAnimation {
  visibility: unset
}

.sound {
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--white);
  bottom: 170px
}

.github-portfolio {
  bottom: 70px
}

.share {
  cursor: pointer;
  color: var(--white);
  bottom: 120px;
  padding: 10px
}

.scrollAnimation {
  visibility: hidden;
  width: 60px;
  height: 120px;
  text-align: center;

  & svg {
    fill: var(--principal-color)
  }

  & p {
    font-size: .8rem
  }
}

.scale {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: transform .5s linear;
  -webkit-transition: transform .5s linear;
  -moz-transition: transform .5s linear;
  -ms-transition: transform .5s linear;
  -o-transition: transform .5s linear
}

.hide-cursor {
  cursor: none
}

.hidden-menu {
  left: 100%
}

.show {
  left: 0;
  opacity: 1
}

svg {
  color: #f1f1f1;
  fill: #f1f1f1
}

.blinking-cursor {
  color: var(--white);
  animation: blink .5s infinite;
  -webkit-animation: blink .5s infinite
}

@keyframes blink {

  0%,
  100% {
    opacity: 1
  }

  50% {
    opacity: 0
  }
}

#blog {
  color: var(--principal-color);

  & svg {
    fill: var(--principal-color)
  }
}

@media (min-width:576px) {
  body {
    padding-left: 13rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: "title title" "main main" "main main"
  }

  #hideMenuDesktop {
    display: block !important
  }

  .removePaddingLeft {
    padding-left: 1rem
  }

  .hideMenuDesktop {
    left: -200px !important
  }

  .removeMarginLeft {
    margin-left: 0 !important
  }

  .demoMode {
    top: 0
  }

  nav .nav__menu {
    align-items: baseline
  }
}

@media (max-width:776px) {
  .scrollAnimation {
    & .d-none {
      display: none
    }
  }

  .info::after {
    font-size: 2.5rem
  }
}

@media (min-width:992px) {
  .home {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "title img" "subtitle img" "description img" "marquee marquee";
    align-items: center;

    & .section__title {
      grid-area: title
    }

    & .section__box {
      top: 0;
      grid-area: img
    }

    & .section__text {
      grid-area: subtitle
    }

    & .section__logos {
      grid-area: marquee
    }

    & .section__button {
      grid-column: 1/3
    }
  }
}

@media (min-width:1440px) {
  .home {
    & .section__box {
      margin: auto
    }

    & .section__title {
      text-align: center
    }

    & .section__subtitle,
    .section__description {
      text-align: right
    }
  }
}

.aside {
  background-color: var(--darkGray);
  position: fixed;
  height: 100%;
  z-index: 2;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 15px 0 15px -15px var(--principal-color);
  -webkit-box-shadow: 15px 0 15px -15px var(--principal-color);
  -moz-box-shadow: 15px 0 15px -15px var(--principal-color);
}

@media (max-width: 575px) {
  .aside {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
  }
}

.hide-aside {
  left: -100%;
  opacity: .3
}

.show-aside {
  left: 0;
  opacity: 1
}

.header {
  position: relative;
  display: flex;
  font-weight: bolder;
  flex-direction: column;
  justify-content: center;
  height: fit-content;

  .d-none {
    display: none
  }
}

.bgDisabled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1
}

.unselect-text {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.toggle-menu {
  all: unset;
  cursor: pointer
}

.nav {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--darkGray);

  & .nav__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem
  }

  & svg {
    height: 1rem
  }

  & a {
    color: var(--white);
    text-decoration: none;
    display: flex;
    gap: .5rem
  }

  & a:hover {
    filter: brightness(.8);
    -webkit-filter: brightness(.8);
    border-bottom: 1px solid var(--white);
    margin-bottom: -1px
  }

  & .link-active {
    border-bottom: 2px solid var(--principal-color);
    margin-bottom: -2px;
    color: var(--principal-color)
  }

  & .link-active svg {
    fill: var(--principal-color)
  }

  .d-none {
    display: none
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  gap: .5rem;
  font-weight: bolder;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;

  & svg {
    fill: var(--white);
    height: 1.5rem
  }

  & a {
    color: var(--black);
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 1rem;
    margin: 0 auto !important
  }

  & a & a:hover {
    filter: brightness(.8);
    -webkit-filter: brightness(.8)
  }

  & .socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    & a {
      padding: 0
    }
  }

  & .d-none {
    display: none
  }
}

@media (min-width:576px) {
  .aside {
    left: 0;
    opacity: 1
  }

  .aside button {
    all: unset;
    position: absolute;
    right: -20px;
    font-size: 3rem;
    color: var(--principal-color);
    filter: drop-shadow(0 0 5px var(--principal-color))
  }

  .aside button:hover {
    filter: drop-shadow(0 0 5px var(--white))
  }

  .header {
    left: 0;
    height: 150px;
    padding: 2rem
  }

  .nav,
  .footer {
    opacity: 1
  }

  .header__logo {
    padding: 1rem
  }

  .header .d-none {
    display: initial
  }

  .toggle-menu {
    display: none
  }

  .nav .d-none {
    display: initial
  }

  .footer .d-none {
    display: initial
  }

  .socials {
    flex-direction: row !important
  }
}