body {
  font-family: 'Lato', sans-serif;
  --black: #151515;
  --darkGray: #222222;
  --lighGray: #b1b1b1;
  --white: #f1f1f1;
  --principal-color: #ff5b02;
  background-color: var(--black);
  color: var(--white);

  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr ;
  grid-template-areas: 
    "header empty"
    "nav main"
  ;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

.main .section {
  grid-template-columns: repeat(2,1fr);
}

/* helpers */

.bg-black {
  background-color: var(--black);
}

.bg-dark-gray {
  background-color: var(--darkGray);
}

.bg-principal-color {
  background-color: var(--principal-color);
}

nav a {
  color: var(--white);
  text-decoration: none;
  padding: .5rem;
  border-bottom: 1px solid rgb(94, 94, 94);
  display: flex;
  gap: .5rem;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.d-grid {
  display: grid;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.gap-1 {
  gap: 2rem;
}

.left-0 {
  left: 0;
}

.relative {
  position: relative;
}

.mw-500 {
  max-width: 500px;
}

.w-100 {
  width: 100%;
}

.border-radius-15 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.text-center {
  text-align: center;
}

.absolute {
  position: absolute;
}

.w-20px {
  width: 20px;
}

.h-20px {
  height: 20px;
}

.w-50px {
  width: 50px;
}

.h-50px {
  height: 50px;
}

.rigth-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.top5px {
  top: 5px;
}

.left5px {
  left: 5px;
}

.bottom5px {
  bottom: 5px;
}

.rigth5px {
  right: 5px;
}

.grayscale { filter: grayscale(100%); }

.p-1 {
  padding: 1rem;
}

.pl-10 {
  padding-left: 10rem;
}

.p-05 {
  padding: 0.5rem;
}

.zindex-1 {
  z-index: 1;
}

.nav {
  background-color: var(--darkGray);
}

span {
  color: var(--principal-color);
}

.section__description {
  color: var(--lighGray);
}


.section__button {
  all: unset;
  cursor: pointer;
  background-color: var(--principal-color);
  padding: .5rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.section__button:hover {
  filter: brightness(.8);
  -webkit-filter: brightness(.8);
}